// Mixins in here
.change-layout(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.bottom-border{
    border-bottom: 2px dotted lightgray;
}

.fonts(@size, @family, @spacing){
    font-size: @size;
    font-family: @family;
    line-height: @spacing;
}

.custom-btn(){
    
}

.animation(){

}

