// Navigation Styles here
.navigation {
    .change-layout(space-around, center);
    .bottom-border;
    padding:2% 0;
    
    h1{
        margin-left: 10%;
    }

    nav{
        width:40%;
        .change-layout(space-evenly, center);
        .fonts(1.4em, 'Roboto', 1);
        margin-right: 10%;
        
        a{
            color: black;
        }
    }
}